

.home-container{
    display: grid;
    grid-template-areas: 
    'sidebar navbar '
    'sidebar content';
    grid-template-columns: [sidebar] 15% [navbar] 85% [content]85%;
    grid-template-rows:[navbar]$navbar-height;
    height: 100%;
}

.navbar{
    grid-area: navbar;
}

.content{
    @extend .gradient-background;
    grid-area: content;
}