//Primary fonts
.big-primary-font{
    color: $first-font-color;
    font-size: 20pt;
    font-weight: 600;
}

.medium-primary-font{
    color: $first-font-color;
    font-size: 18pt;
    font-weight: 600;
}

.normal-primary-font{
    color: $first-font-color;
    font-size: 16pt;
}

.small-primary-font{
    color: $first-font-color;
    font-size: 12pt;
}

.signature-primary-font{
    color: $first-font-color;
    font-size: 10pt;
}
//Secondary font
.big-secondary-font{
    color: $second-font-color;
    font-size: 20pt;
    font-weight: 600;
}

.medium-secondary-font{
    color: $second-font-color;
    font-size: 18pt;
    font-weight: 600;
}

.normal-secondary-font{
    color: $second-font-color;
    font-size: 16pt;
}

.small-secondary-font{
    color: $second-font-color;
    font-size: 12pt;
}

.signature-secondary-font{
    color: $second-font-color;
    font-size: 10pt;
}
