$apply-button-color: #4e79ff;
$disabled-button-color: #b7c9ff;
$button-font-color: #fff;

@import 'Apply/ApplyButton';
@import 'Invisible/InvisibleButton';

.base-btn{
    padding: 7pt 15pt 7pt 15pt;
    border: 0;
    border-radius: 20px;
    cursor: pointer;

    &:hover{
        outline:none;
    }
}

.span-between-btns{
    margin-right: 1em;
}

