.sign-type-box{
    margin: auto;   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
        ". a . .";
    margin-top: 5em;
}

.login-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
        ". a . .";
}

.login-box{
    position: relative;
    grid-area: a;
    align-self: center;
    justify-self: center;
    width: 30em;
}