$table-header-color: #f9f9f9;
$table-header-font-color: #757575;
$table-body-font-color: #757575;
$tr-nth-even-color: #fbfbfb;
$table-border-color: #eaeaea;

.table{
    width: 100%;
    border-collapse: collapse;

    tr:nth-child(even){
        background-color: $tr-nth-even-color;
    }
    thead{
        @extend %small-secondary-font;
        background-color: $table-header-color;     
        color: $table-header-font-color;   
    }  
    td{
        text-align: center;
    }
    tr td{
        @extend %signature-secondary-font;
        padding-top: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid $table-border-color;
        color: $table-header-font-color; 
    }
    tr th{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border: 1px solid $table-border-color;
    }
}