$acceptButtonColor: #4e79ff;

.modal-buttons-footer{
      background-color:#FFF;
      margin-top: 2em;
      height: 2em;
    button {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        width:100%;
        text-align:center;
        float:left;
        background-color:$acceptButtonColor;
        color:white;
        transition:0.3s;
        text-decoration: none;
        font-weight:bold;
        border-radius: 20em;
        border: none;
        cursor: pointer;
        &:hover {
          background-color:darken($acceptButtonColor,5%);
        }    
    }
}