.navbar{
    display: grid;
    grid-area: navbar;
    grid-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    'searchBox . . addButton';
    margin: 0 2em 0 2em;

    .apply-btn{
        grid-area: addButton;
        width: auto;
        margin:auto;
    }
}

.search-bill{
    grid-area: searchBox;
    width: auto;
    margin: auto;
    input{
        width: auto;
        
        @include placeholder(){
            padding-left: 0.5em;
            color: $second-font-color;
            font-size: 9pt;
        }
    }
    
}