.sidebar{
    @extend .shadow-primary-element;
    display:grid; 
    grid-area: sidebar;
    grid-template-rows:[logo]$navbar-height;
    grid-template-areas:
    'logo'
    'picture'
    'info';
    
    .logo{
        grid-area:logo;
        margin: auto;
        color: $first-font-color;
        font-size: 20pt;
    }

    ul{
        grid-area:info;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li{
            margin-bottom: 2em;
        }
    }
    
}

.sidebar-info{
    text-align: center;
    .header{
        color: $first-font-color;
        font-size: 18pt;
        font-weight: 600;
    }
    .info{
        @extend .signature-secondary-font;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}