$input-text-color: #565656;
$underline-input-color: #cccccc;
$hover-checkbox: #0040ff;

@import 'Checkbox/Checkbox';
@import 'ErrorPlaceholder/ErrorPlaceholder';
@import 'FormLabel/FormLabel';
@import 'Input/Input';
@import 'InputGroup/InputGroup';

.form-btn-line{
    margin-top: 3em;
}



