

$top-gradient: #e0f5ff;
$bottom-gradient: #f9f9f9;
$first-font-color: #4e79ff;
$second-font-color: #cccccc;
$first-background-color: #fff;
$underline-input-color: #cccccc;

//components
@import 'components/Forms/styles';
//scenes
@import 'scenes/Sign/scenes/Login/styles';

body, html, #App{
    height:100%;
}

body{
    background-color: $first-background-color;
    margin: 0;
}

.gradient-background{
    background-image:
    linear-gradient(
        #e0f5ff, #f9f9f9
    );
}

