.wrapper{
    display: grid;
    grid-template-areas: repeat(2, 1fr);
}

.signIn-left-container{
    grid-column: 1
   
}

.signIn-right-container{
    grid-column: 1
}

.gradient-blue{
    background-image:
    linear-gradient(
        #e0f5ff, #f9f9f9
    );
}

