.sign-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%
}

.signIn-left-container{
    @extend .gradient-background;
    grid-column: 1;
    position: relative;

    .logo{
        position:absolute; 
        top:0; 
        left:0;
        color: $first-font-color;
        margin-left: 2em;
        margin-top: 0.5em;
        font-size: 20pt;
    }
}

.signIn-right-container{
    @extend .shadow-primary-element;
    grid-column: 2;
}

.sign-container2{
    display: grid;
}

.sign-type-box{
    margin: auto;   
}

.login-container{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
        ". a . .";
}

.login-box{
    grid-area: a;
    align-self: center;
    justify-self: center;
    width: 30em;
}

.login-type-container{
    font-size: 24pt;
    color: $second-font-color;
    margin-bottom: 1.5em;
    font-weight: 800;
    transition: 0.5s;


    .active{
        color: $first-font-color;
        text-decoration: underline;
    }

    .inactive{
        cursor: pointer;
    }

    .inactive:hover{
        color: $first-font-color;
        transition: color 0.5s;
    }
    
}